<h2>Strona z oświetleniem</h2>
<div id="lighting">
	<p>Oświetlenie</p>
	<br/><br/>
	<form class="ajaxform">
		<input type="hidden" name="jsonFile" value="lighting"/>
		<input type="hidden" name="id" value="1"/>
		<div>
			<input type="text" name="switchName" value="" placeholder="Nazwa przełącznika"/>
		</div>
		<br/>
		<div>
			<input type="text" name="status" value="" placeholder="Status (on | off)"/>
		</div>
		<br/>
		<div>
			<button class="btn btn-success" type="submit">Zapisz</button>
		</div>
	</form>
</div>
<script src="assets/js/lighting.js"></script>