@charset "UTF-8";

.bottom-bar{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgb(124, 172, 52);
}
.top-bar{
   color: red;
    background-color: rgb(124, 172, 52);
}
.row{
    display: flex;
    justify-content: space-between;
}
a:hover{
    text-decoration: none;
}
a{
    padding: 20px;
}
#sidebar {
    background-color: black;
    position: fixed;
    left: -280px;
    width: 280px;
    height: 100%;
}
.sidebar-menu{
    padding-top: 20px;
    padding-left: 10px;
}
.sidebar-menu a {
    color: white;
    text-decoration: none; 
}

.sidebar-menu li {
    list-style-type: none;
    padding: 10px 0;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
#naglowek{
    background-color: rgb(124, 172, 52);
}

h3{
    color: white;
    margin: 0px;
}
.sidebar-menu i{
    margin-right: 15px;
}
