@charset "UTF-8";
@import "font-awesome";

.bottom-bar{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgb(121, 201, 121);
}
.row{
    display: flex;
    justify-content: space-between;
}
a:hover{
    text-decoration: none;
}
a{
    padding: 20px;
}
